{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="container-fluid pt-5 mt-5">
		<div class="row">
			<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
				<ul class="nav nav-pills flex-column nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="#main" data-toggle="tab">Overview <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#post" data-toggle="tab">New Post</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#profile" data-toggle="tab">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Change Password</a>
					</li>
				</ul>
			</nav>

			<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
				<h1>Welcome {{ request.user }},</h1>

				<section class="row text-center tab-content justify-content-center">
					<div class="modal-content tab-pane fade in active" id="main">
						<p>This is your dashboard from here you can do whatever you like</p>
					</div>

					<div class="tab-pane fade" id="post">
						<h3 class="h3">Create New Post</h3>
						<div>
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{{post_form|crispy}}
								<button type="submit" class="btn btn-primary">Add Post</button>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="profile">
						<h3 class="h3">Edit your profile</h3>
						<div>
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{{profileform|crispy}}
								<button type="button" class="btn btn-primary btn-lg">Save</button>
							</form>
						</div>
					</div>
				</section>
			</main>
		</div>
	</div>
{% endblock %}
